@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .product-card {
    @apply w-60 h-full p-4 border border-gray-300 rounded-md bg-white text-black;
  }
  .product-title {
    @apply text-lg text-center font-black ;
  }
  .product-description{
    @apply text-sm text-gray-500;
  } 
  .image-container {
    @apply w-full h-40 rounded-md object-contain;
  }
}